<!DOCTYPE html>
<html>
<head>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../static/css/todo.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500&display=swap" rel="stylesheet">

	<!-- Icons -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>Todo List</title>

	<!-- jQuery -->
	<script type="text/javascript" src="../static/js/lib/jquery-3.4.1.min.js"></script>

</head>
<body>

	<div id="container">
		<h1>To-do List <i class="fa fa-plus"></i></h1>
		<input type="text" name="Add a new task" placeholder="Add New Todo">
		<ul>
			<li><span> <i class="fa fa-trash"></i> </span> Li1</li>
			<li><span> <i class="fa fa-trash"></i> </span> Li2</li>
			<li><span> <i class="fa fa-trash"></i> </span> Li3</li>
		</ul>

	</div>

	<!-- JS -->
	<script src="../static/js/todo.js" type="text/javascript"></script>
</body>
</html>